* {
    padding :0;
    margin:0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Great Vibe',cursive;
}
.container{
    max-width: 100%;
    margin:auto;
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}
li{
    list-style: none;
}

.head img{
    margin-top: 10px;
}
  .logo img {
    max-width: 150px;
    height: auto;
  }

a{
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}
a:hover{
    transition: 0.5s;
    color: #001C30;
}
.flex{
    display : flex;
    justify-content: space-between;
    padding-top :16px
}

i{
        padding-right: 6px;
}
header{
    background-color: #99DBF5;
   
    color:#fff;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    padding: 0px 20px;
}
header li{
    margin-right: 30px;
}
header li a{
    font-size: 16px;
    color: #fff;
    font-weight: 500;

}


.hamburger{
    display: none;

}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;

}

@media only screen and (max-width:768px){
    header ul{
        display:block;
        position:fixed;
        left:-100%;
        flex-direction: column;
        background-color: #fff;
    }
    .hamburger {
        display:block;
        cursor: pointer;
        
    }
    
}